<header>
  <ng-template ngIf="config">
    <a [href]="config.homeUrl || ''">
      <img class="logo" [src]="config.logo || 'assets/logo.jpg'"/>
    </a>
  </ng-template>
  <ng-template ngIf="auth.isAuthenticated()">
    <div class="user-profile" (click)="showDropdown = !showDropdown">
      <img [src]="auth.getUserInfo().picture" *ngIf="auth.getUserInfo().picture"/>
      <h1>{{auth.getUserInfo().name}}</h1>
    </div>
    <div class="user-dropdown" *ngIf="showDropdown">
      <div class="dropdown-button" (click)="auth.logout()">Logout</div>
    </div>
  </ng-template>
</header>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>
