
header {
  display: block;
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  /*box-shadow: rgba(0, 0, 0, 0.227451) 0px 6px 10px 0px, rgba(0, 0, 0, 0.188235) 0px 10px 30px 0px;*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  background-color: white;
}

.logo {
  position: absolute;
  height: 50px;
  top: 5px;
  left: 10px;
}

.user-profile {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 500px;
  text-align: right;
  cursor: pointer;
}

.user-profile img {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.user-profile h1 {
  position: absolute;
  width: 100%;
  right: 70px;
  top: 20px;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  color: #333333;
}

main {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.user-dropdown {
  position: fixed;
  right: 5px;
  top: 60px;
  width: 140px;
  height: auto;
  border-radius: 3px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  z-index: 1000;
}

.dropdown-button {
  position: relative;
  cursor: pointer;
  padding: 20px 40px;
}

.dropdown-button::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0;
  transition: 0.2s ease opacity;
}

.dropdown-button:hover::after {
  opacity: 0.1;
}
